html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
*/
/* Navigation Section */
.content {
    padding: 0 15px;
    width: 970px;
    margin: 0 auto;
    box-sizing: border-box;			
}

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
	z-index: 9999;
}

.top-navigation .logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    line-height: 1.33;
    width: 9.688rem;
    background-color: #f15a29;
    font-size: 1.125rem;
    color: white;
    margin: 0 auto;
    margin-top: 1.563rem;
}

.introduction .content {
	text-align: center;
}

.introduction .big-button:hover {
	cursor: pointer;
    background-color: #d9400e;
    border-color: #cf3d0e;
}
.cases {
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
    margin-bottom: -6rem;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 3.125rem;
	font-weight: 300;
}

.cases .devices > li {
	width: 33.3333333%;
	float: left;
}

.cases .devices h3 {
    font-size: 1.563rem;
    font-weight: 400;
    margin: 2.5rem 0 1.875rem;
}

.cases .content {
	color: #1d1e21;
	text-align: center;
	margin-top: 7.875rem;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social .content {
	text-align: center;
	margin-top: 7.875rem;
}

.social hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eaebec -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 1.313rem 0;
}	

.social .icons > li {
	border: 1px solid #eaebec;
	border-radius: 1.25rem;
	display: inline-block;
	height: 2.5rem;
	margin: 1.25rem 5px;
    padding: 0.625rem 0;
    text-align: center;
    width: 2.5rem;
}

.social .icons > li:hover {
	cursor: pointer;
}

.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}

.social .copy {
    color: #838994;
    font-size: 0.9rem;
    font-weight: 300;
}












